<header class="w-full py-4 h-16 shadow bg-white fixed top-0 left-0 right-0">
  <div class="w-11/12 mx-auto flex flex-wrap items-center">
    <div class="w-6/12 md:w-2/12 flex">
      <%= link_to root_path do %>
        <img class="h-8" src="/images/logo_whiteboard.png" alt="Whiteboard logo">
      <% end %>
    </div>
    <div class="w-6/12 md:w-10/12 flex items-center justify-end space-x-8">
      <% if helpers.user_signed_in? %>
        <div class="w-auto">
          <%= link_to I18n.t("users.logout"), destroy_user_session_path, method: :delete, class: "hover:underline text-red-600" %>
        </div>
      <% else %>
        <div class="w-auto">
          <%= link_to I18n.t("users.login"), new_user_session_path, class: helpers.color_button("uppercase text-sm") %>
        </div>
        <div class="w-auto hidden md:flex">
          <%= link_to I18n.t("users.sign_up"), new_user_registration_path, class: "hover:underline" %>
        </div>
      <% end %>
    </div>
  </div>
</header>