<div class="min-h-screen">
  <% if user_signed_in? %>
    <% if current_user.character.nil? %>
      <%= render 'characters/form_step_1', character: @character %>
    <% else %>
      <%= render 'characters/my_character', character: @character %>
    <% end %>
  <% else %>
  <h1><%= I18n.t("login_for_create") %></h1>
  <% end %>
</div>